<div class="container">
    <div class="left">
        <powerbi-visual #visualObj
            [embedConfig] = "visualConfig"
            [cssClassName] = "containerClass"
            [eventHandlers] = "eventHandlersMap"
        >
        </powerbi-visual>
    </div>
    <div class="right">
        <powerbi-visual #visualObj2
            [embedConfig] = "visualConfig2"
            [cssClassName] = "containerClass"
            [eventHandlers] = "eventHandlersMap2"
        >
        </powerbi-visual>
    </div>
</div>